/************CSS RESET CODE*****************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/************END OF CSS RESET CODE*********/
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url("../fonts/Pacifico.woff") format('woff');
}
@font-face{
    font-family:Mitra;
    font-weight:normal;
    font-style:normal;
    src:url("../fonts/BMitra-Regular.eot");
    src:url("../fonts/BMitra-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/BMitra-Regular.woff") format("woff"),url("../fonts/BMitra-Regular.ttf") format("truetype"),url("../fonts/BMitra-Regular.svg#Mitra") format("svg")
}
@font-face{
    font-family:Mitra;
    font-weight:bold;
    font-style:normal;
    src:url("../fonts/BMitra-Bold.eot");
    src:url("../fonts/BMitra-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/BMitra-Bold.woff") format("woff"),url("../fonts/BMitra-Bold.ttf") format("truetype"),url("../fonts/BMitra-Bold.svg#Mitra") format("svg")
}
@font-face{
    font-family:Nassim;
    font-weight:normal;
    font-style:normal;
    src:url("../fonts/nassim-regular.eot");
    src:url("../fonts/nassim-regular.eot?#iefix") format("embedded-opentype"),url("../fonts/nassim-regular.woff") format("woff"),url("../fonts/nassim-regular.ttf") format("truetype"),url("../fonts/nassim-regular.svg#Nassim") format("svg")
}
@font-face{
    font-family:Nassim;
    font-weight:bold;
    font-style:normal;
    src:url("../fonts/nassim-bold.eot");
    src:url("../fonts/nassim-bold.eot?#iefix") format("embedded-opentype"),url("../fonts/nassim-bold.woff") format("woff"),url("../fonts/nassim-bold.ttf") format("truetype"),url("../fonts/nassim-bold.svg#Nassim") format("svg")
}
/*@font-face {
    font-family:'Yekan';
    src:url('../fonts/BYekan.eot');
    src:local('BYekan'),
    local('B Yekan'),
    url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BYekan.woff') format('woff'),
    url('../fonts/BYekan.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}*/
html {
    font-size: 15pt !important;
    line-height: 1.618 !important;
    height: 100%;
}

body{
	@extend html;
    font-family: Mitra,Nassim,"Baskerville",Georgia,Times,serif !important;
    color: #222;
    direction:rtl;
    text-align: right;
    padding-top:0px !important;
    margin-top:0px !important;
    position: relative;
    background: #fafafa url('../img/bg-body.png') repeat;
    float: right;
    text-rendering: optimizelegibility;
    width: 100%;
    perspective:1500px;
    -ms-perspective:1500px;
    -o-perspective:1500px;
    -webkit-perspective:1500px;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
	&.tag-link{
		color: inherit;
		&:hover{
			color: #d85436;
		}
	}
}
h1, h2, h3, h4 {
    font-family: Mitra;
    font-weight: bold;
}
label{
    font-weight: normal;
}
th{
    text-align: right;
}
#container{
    max-width: 870px;
    height: 100%;
    margin-right: 300px;
    transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
}
#header{
	width: 100%;
    height: 65px;
    text-align: center;
    min-width: 430px;
	p {
    	float: left;
    	direction: ltr;
    	font-family: Pacifico, cursive, 'Trebuchet MS', 'Times New Roman';
    	color: #57ad68;
    	font-size: 32pt;
    }
}
#right{
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    .bg-move{
	    background: none repeat scroll 0 0 rgba(66, 66, 66, 0.9);
	    height: 6000px;
	    width: 300px;
	    transform: rotate(-9deg) translateZ(0px);
	    -o-transform: rotate(-9deg) translateZ(0px);
	    -moz-transform: rotate(-9deg) translateZ(0px);
	    -webkit-transform: rotate(-9deg) translateZ(0px);
	    -ms-transform: rotate(-9deg) translateZ(0px);
	    top: -70px;
	    right: -780px;
	    position: fixed;
	}
}
.logo-div{
    background: url("../img/logo.png") no-repeat;
    width: 200px;
    height: 107px;
}
.logo{
    width: 200px;
    height: 107px;
    position: relative;
    top: 10px;
    right: 45px;
}
.wrapper{
    position: relative;
    z-index: 100;
    display: none;
}
.header-text{
    max-width: 450px;
    margin: auto;
    cursor: default;
    &:hover{
    	cursor: default;
    }
}
.header-hr{
    border-color: #3299bb;
    box-shadow: 0 0 1px 0 #3299bb;
}
.copy-write{
    color: #ffffff;
    transform: rotate(-9deg) translateZ(0px);
    -o-transform: rotate(-9deg) translateZ(0px);
    -moz-transform: rotate(-9deg) translateZ(0px);
    -webkit-transform: rotate(-9deg) translateZ(0px);
    -ms-transform: rotate(-9deg) translateZ(0px);
    margin-top: 60px;
    text-align: center;
    padding-left: 110px;
}
#nav{
    transform: rotate(-9deg) translateZ(0px);
    -o-transform: rotate(-9deg) translateZ(0px);
    -moz-transform: rotate(-9deg) translateZ(0px);
    -webkit-transform: rotate(-9deg) translateZ(0px);
    -ms-transform: rotate(-9deg) translateZ(0px);
    margin-top: 50px;
    list-style: none outside none;
    width: 270px;
    li{
    	margin-bottom: 20px;
    	text-align: center;
    	width: 260px;
    	&.active{
    		a{
    			width: 215px;
   				margin-right: 32px;
				background:none repeat scroll 0 0 #3299bb;
    		}
    	}
    }
    a{
    	background: none repeat scroll 0 0 rgba(66, 66, 66, 0.8);
    	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    	color: #fff;
    	display: block;
    	margin-right: 47px;
    	padding: 5px 10px;
    	text-shadow: 0 0 1px #000;
    	transition: all 0.25s ease-in-out 0s;
    	width: 200px;
    	font-size: 14pt;
    	transition: all 0.25s ease-in-out 0s;
    	-ms-transition: all 0.25s ease-in-out 0s;
    	-webkit-transition: all 0.25s ease-in-out 0s;
    	-o-transition: all 0.25s ease-in-out 0s;
    	-moz-transition: all 0.25s ease-in-out 0s;
    	font-family: "Nassim", "Baskerville",Georgia,Times,serif !important;
    	&:hover{
    		width: 210px;
    		margin-right: 37px;
    	}
    	&:link{
    		border: none;
    	}
    }
}
.comment-answered{
    margin-right: 55px;
    .avatar{
    	img{
    		width: 45px;
    		height: 45px;
    	}
    }
}
#post-list{
    list-style: none outside none;
}
.mahdi{
    transition-duration: 0.9s;
    -ms-transition-duration: 0.9s;
    -webkit-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    &:hover{
    	color: #3299bb;
    }
}
.blog-content{
	a{
		color: #d85436;
    	transition: color 0.3s ease 0s;
    	-ms-transition: color 0.3s ease 0s;
    	-webkit-transition: color 0.3s ease 0s;
    	-o-transition: color 0.3s ease 0s;
    	-moz-transition: color 0.3s ease 0s;
    	border-bottom: 1px dotted #d85436;
    	&:hover{
    		color: #37130b;
    	}
    	&.blog-link{
    		color: inherit;
    		border-bottom: none;
    		&:hover{
    			color: #d85436;
    		}
    	}
	}
	h4{
		color: #777;
	}
}
.work-content{
    @extend .blog-content;
    a{
    	&.work-link{
    		color: inherit;
    		border-bottom: none;
    		&:hover{
    			color: #d85436;
    		}
    	}
    }
}
.blog-date{
    margin-top: 10px;
}
.blog-description, .blog-body, .work-body{
    margin-top: 20px;
}
#loading{
	position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #ffffff;
    opacity: 0.55;
    z-index: 1000;
	img{
    	position: relative;
    	top: 10px;
    }
}
.loading-div{
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 60%;
    margin: -25px 0 0 -25px;
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
}
.avatar{
	width: 50px;
    height: 50px;
    float: right;
	img{
    	background: none repeat scroll 0 0 rgba(0, 39, 59, 0.2);
    	border-radius: 3px;
    	display: block;
    	position: relative;
    	width: 100%;
    }
}
.commentUserName{
    font-size: 13px;
    font-weight: 700;
}
.commentBody{
    margin-right: 65px;
}
.comment{
    margin-bottom: 20px;
}
.commentDate, .answer{
    margin-right: 20px;
}
.ui-autocomplete{
    width: 150px !important;
    left: -318px !important;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    padding-right: 10px;
    a{
    	color: #000000;
    }
}
.ui-helper-hidden-accessible{
    display: none;
}
.hrTag{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dedede -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 3px medium medium;
    margin-bottom: 10px;
    width: 50px;
    margin: auto;
    margin-bottom: 10px;
}
.blogFooter{
   text-align: center;
}
.blog-pagination{
	width: 100%;
    margin-top: 0;
	a{
    	background-color: transparent !important;
    	border: none !important;
    	font-size: 14pt !important;
    }
    .prev{
    	float: left;
	}
	.next{
    	float: right;
	}
}
.about{
    font-size: 16pt;
    line-height: 1.7;
}
.aboutHeader{
    @extend .about;
    text-align: center;
}
.aboutAvatar{
    width: 170px;
    height: 165px;
    margin-left: 20px;
    float: right;
    margin-top: 15px;
}
.myWork{
	position: relative;
    box-shadow: -5px 14px 10px rgba(0, 0, 0, 0.25);
    display: block;
    /*height: 400px;*/
    margin-bottom: 40px;
    position: relative;
    width: 100%;/*870px;*/
	.workName {
    	background: none repeat scroll 0 0 #f90;
    	border-bottom-left-radius: 3px;
    	border-top-left-radius: 3px;
    	bottom: 40px;
    	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
    	font-size: 20px;
    	line-height: 1;
    	padding: 10px;
    	position: absolute;
    	right: 20px;
    	transition: all 0.25s ease-in-out 0s;
    	-o-transition: all 0.25s ease-in-out 0s;
    	-moz-transition: all 0.25s ease-in-out 0s;
    	-webkit-transition: all 0.25s ease-in-out 0s;
    	-ms-transition: all 0.25s ease-in-out 0s;
    	z-index: 10;
    }
    a{
    	color: #ffffff;
    	&:hover{
    		img{
    		    opacity: 1;
    		}
    		.workName {
    			background: none repeat scroll 0 0 #3299bb;
    			padding-right: 20px;
			}
    	}
	}
	img {
    	display: block;
    	width: 100%;
    	opacity: 0.9;
    	position: relative;
    	transition: all 0.25s ease-in-out 0s;
    	-o-transition: all 0.25s ease-in-out 0s;
    	-moz-transition: all 0.25s ease-in-out 0s;
    	-webkit-transition: all 0.25s ease-in-out 0s;
	    -ms-transition: all 0.25s ease-in-out 0s;
	}
}
.workSiteAddress {
    float: left;
    margin-left: 20px;
    position: relative;
    top: -79px;
    background: none repeat scroll 0 0 #f90;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 40px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    z-index: 10;
    &:hover{
    	background: none repeat scroll 0 0 #3299bb;
    	padding-left: 20px;
    }
}
.connect{
	margin-top: 40px;
	h4{
    	color: #ffffff;
    	transform: rotate(-9deg) translateZ(0px);
    	-o-transform: rotate(-9deg) translateZ(0px);
    	-moz-transform: rotate(-9deg) translateZ(0px);
    	-webkit-transform: rotate(-9deg) translateZ(0px);
    	-ms-transform: rotate(-9deg) translateZ(0px);
    	margin-right: 50px;
    }
}
.myContacts{
	list-style: none;
    transform: rotate(-9deg) translateZ(0px);
    -moz-transform: rotate(-9deg) translateZ(0px);
    -webkit-transform: rotate(-9deg) translateZ(0px);
    -ms-transform: rotate(-9deg) translateZ(0px);
    margin-top: 10px;
    padding-right: 20px;
	li{
    	float: right;
    	width: 45px;
    	height: 45px;
    	margin-right: 10px;
    	transition: all 0.25s ease-in-out 0s;
    	-o-transition: all 0.25s ease-in-out 0s;
    	-moz-transition: all 0.25s ease-in-out 0s;
    	-webkit-transition: all 0.25s ease-in-out 0s;
    	-ms-transition: all 0.25s ease-in-out 0s;
    	padding-right: 8px;
    	padding-top: 8px;
    	&:hover{
    		border-radius: 50%;
    		background-color: rgba(255, 255, 255, 0.1);
    	}
    }
    .gmail{
    	background-image: url("../img/gmail-icon.png");
    	width: 30px;
    	height: 30px;
	    display: block;
	}
	.linkedin{
	    background-image: url("../img/linkedin-icon.png");
	    width: 30px;
	    height: 30px;
	    display: block;
	}
	.noisy{
	    background-image: url("../img/pen-icon.png");
	    width: 30px;
	    height: 30px;
	    display: block;
	}
	.name{
	    display: none;
	}
}
.mobile-toggle{
    display: none;
    background-color: rgba(66, 66, 66, 0.8);
    background-position: 4px -316px;
    border-radius: 3px;
    height: 36px;
    position: fixed;
    right: 10px;
    top: 30px;
    width: 36px;
    z-index: 1000;
}
.icon-bar{
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #d3d3d3;
    margin: 7px auto auto;
}
.work-body img , .blog-content img{
    height: auto !important;
    max-width: 100% !important;
}
.blog-body{
	pre{
    	background: none repeat scroll 0 0 #2d2d2d;
    	border-radius: 2px;
    	font-family: Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;
    	font-size: 12px;
    	line-height: 1.618;
    	margin-bottom: 20px;
    	padding: 15px 10px;
    	color:#cccccc;
    	direction:ltr;
    	text-align:left;
    	overflow-x: auto;
    	display:block;
    	white-space:pre;
    	overflow-wrap:normal;
    }
}
#WorkIshome{
	float:left;
	width:auto;
}
.cke_reset_all{
	.cke_rtl {
		*{
			text-align:left !important;
			direction:ltr !important;
		}
	}
}
.myWorksSelected{
	margin-bottom:20px;
	min-height:265px;
	h2{
		margin-bottom:20px;
	}
	div{
		width:50%;
		float:right;
	}
	img{
		width:100%;
		box-shadow:-5px 14px 10px rgba(0, 0, 0, 0.25);		
	}
	.first{
		margin-right: -15px;
	}
	.second{
		margin-right:15px;
	}
}
.lastBlogs{
	h2{
		margin-bottom:20px;
	}
}
.lastBlogContent a{
    border-bottom: 1px dotted #d85436;
    color: #d85436;
    transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -webkit-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;        
}
.lastBlogContent a.hover{
	color:#37130b;
}
.lastBlogContent{
	float: right;
    width: 50%;
    height:280px;
    padding-left:15px;
    .blog-description {
    	max-height: 200px;
    	overflow: hidden;
	}
	h4{
		a{
			border:none;
			color:inherit;
			transition: color 0.3s ease 0s;
        	-o-transition: color 0.3s ease 0s;
       		-moz-transition: color 0.3s ease 0s;
       		-webkit-transition: color 0.3s ease 0s;
       		-ms-transition: color 0.3s ease 0s; 
    		&:hover{
    			color:#d85436;
    		}
    	}
    }
} 
/***************Responsive***********************/
@media (max-width: 1185px){
    #container{
        padding-left: 10px;
    }
}
@media (max-width: 870px){
    #right{
        right: 0px !important;/*-300*/
        transform: translateX(75%) rotateY(60deg);
        -moz-transform: translateX(75%) rotateY(60deg);
        -webkit-transform: translateX(75%) rotateY(60deg);
        -ms-transform:translateX(75%) rotateY(60deg);
        -o-transform: translateX(75%) rotateY(60deg);
    }
    .copy-write{
        padding-left: 15px;
    }
    #container.novisible{
        transform: translateX(-175px) rotateY(-40deg);
        transform-origin: 50% 50% 0;
        -o-transform: translateX(-175px) rotateY(-40deg);
        -o-transform-origin: 50% 50% 0;
        -ms-transform: translateX(-175px) rotateY(-40deg);
        -ms-transform-origin: 50% 50% 0;
        -moz-transform: translateX(-175px) rotateY(-40deg);
        -moz-transform-origin: 50% 50% 0;
        -webkit-transform: translateX(-175px) rotateY(-40deg);
        -webkit-transform-origin: 50% 50% 0;
        opacity: 0.6;
    }
    #right.visible{
        right:0 !important;
        transform: translateX(0%) rotateY(0deg);
        -moz-transform: translateX(0%) rotateY(0deg);
        -webkit-transform: translateX(0%) rotateY(0deg);
        -ms-transform:translateX(0%) rotateY(0deg);
        -o-transform: translateX(0%) rotateY(0deg);
    }
    #right .bg-move{
        right: -35px !important;/*-290*/
        width: 283px;
        transition: all 0.25s ease-in-out 0s;
        -o-transition: all 0.25s ease-in-out 0s;
        -moz-transition: all 0.25s ease-in-out 0s;
        -webkit-transition: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transform: rotate(0deg) translateZ(0px);
        -o-transform: rotate(0deg) translateZ(0px);
        -moz-transform: rotate(0deg) translateZ(0px);
        -webkit-transform: rotate(0deg) translateZ(0px);
        -ms-transform: rotate(0deg) translateZ(0px);
    }
    .connect{
        margin-right: 35px;
    }
    .mobile-toggle{
        display: block;
    }
    #container{
        padding-right: 20px;
        margin-right: 0;
    }
    #right.visible .bg-move{
        right:-35px !important;
    }
    ul#nav, .connect h4, .myContacts, .copy-write{
        transition: all 0.25s ease-in-out 0s;
        -o-transition: all 0.25s ease-in-out 0s;
        -moz-transition: all 0.25s ease-in-out 0s;
        -webkit-transition: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transform: rotate(0deg) translateZ(0px);
        -o-transform: rotate(0deg) translateZ(0px);
        -moz-transform: rotate(0deg) translateZ(0px);
        -webkit-transform: rotate(0deg) translateZ(0px);
        -ms-transform: rotate(0deg) translateZ(0px);
    }
}
@media (max-width: 670px) {
	.myWorksSelected div{
		width:100%;
	}
	.myWorksSelected .first, .myWorksSelected .second{
		margin-right:0;
	}
	.lastBlogContent{
		width:100%;
	}
}
@media (max-width: 550px) {
    #container.novisible{
        transform:translateX(-190px) rotateY(-40deg);
        -webkit-transform:translateX(-190px) rotateY(-40deg);
        -ms-transform:translateX(-190px) rotateY(-40deg);
        -moz-transform:translateX(-190px) rotateY(-40deg);
        -o-transform:translateX(-190px) rotateY(-40deg);
    }
}
@media (max-width: 466px) {
    #header{
        display: none;
    }
    .header-hr{
        display: none;
    }
    .mobile-toggle{
        top:8px;
    }
}
@media (max-width: 360px) {
    #container.novisible{
        transform:translateX(-200px) rotateY(-40deg);
        -webkit-transform:translateX(-200px) rotateY(-40deg);
        -ms-transform:translateX(-200px) rotateY(-40deg);
        -moz-transform:translateX(-200px) rotateY(-40deg);
        -o-transform:translateX(-200px) rotateY(-40deg);
    }
}
@media (max-width: 245px){
    .wrapper{
        margin-right: -35px;
    }
}
@media (max-width: 195px) {
    .logo{
        display: none;
    }
    #nav a{
        width: 136px;
    }
    #nav a:hover{
        width: 136px;
    }
    .connect{
        margin-right: 0;
    }
    .copy-write{
        padding-left:110px;
    }
}
@media (max-height: 555px) {
    ul#nav{
        margin-top: 15px;
    }
}
@media (max-height: 520px){
    .connect{
        margin-top: -10px;
    }
    .myContacts{
        margin-top: 2px;
    }
    .copy-write{
        margin-top: 47px;
    }
}
@media (max-height: 475px){
    #nav li{
        margin-bottom: 5px;
    }
    .connect{
        margin-top: 0px;
    }
}
@media (max-height: 420px){
    .logo{
        display: none;
    }
}
/***************Responsive**********************/